.reportTriggerBtn {
  display: relative;
  border: 2px solid #ff6960;
  color: #ff6960;
  background-color: #fff;
  border-radius: 8px;
  padding: 8px;
}

.reportTriggerBtn svg {
  vertical-align: middle;
}

.reportPanel {
  display: flex;
  position: absolute;
  border-radius: 12px;
  background-color: #fefefe;
  box-shadow: 2px 2px 5px #bfbfbf;
  padding: 42px 32px;
  right: 3px;
  top: 170px;
  flex-direction: row;
  max-height: 480px;
}

.reportPanel_hide {
  display: none;
}

.reportPanelStats {
  margin-left: 20px;
  min-width: 180px;
}

.statsPanel {
  position: absolute;
  border-radius: 8px;
  background-color: #fefefe;
  box-shadow: 2px 2px 5px #bfbfbf;
  padding: 12px 24px;
  bottom: 16px;
  right: 16px;
}

.statsPanel li {
  line-height: 1.6;
}

.floatingButtons {
  position: absolute;
  max-width: max-content;
  top: 16px;
  right: 16px;
}

.floatingButtons button {
  padding: 8px;
  border: none;
  border-radius: 8px;
  background-color: #fefefe;
  box-shadow: 2px 2px 5px #bfbfbf;
}
